.git
.github
.data
.env
.venv
venv
__pycache__
*.pyc
*.egg-info
dist
build
docs
k8s
scripts
grafana
*.md
*.yaml
!requirements.txt
!pyproject.toml
Makefile
LICENSE
.dockerignore
.gitignore
.editorconfig
